<div class="well">
            <ul class="nav nav-list">
              <li class="nav-header">
                Complete Charts
              </li>
              <li>
                <a href="line.html">Simple Line</a>
              </li>
              <li>
                <a href="scatter.html">Scatter / Bubble</a>
              </li>
              <li>
                <a href="stackedArea.html">Stacked / Stream / Expanded Area</a>
              </li>
              <li>
                <a href="discreteBar.html">Discrete Bar</a>
              </li>
              <li>
                <a href="multiBar.html">Grouped / Stacked Multi-Bar</a>
              </li>
              <li>
                <a href="multiBarHorizontal.html">Horizontal Grouped Bar</a>
              </li>
              <li>
                <a href="linePlusBar.html">Line and Bar Combo</a>
              </li>
              <li>
                <a href="cumulativeLine.html">Cumulative Line</a>
              </li>
              <li>
                <a href="lineWithFocus.html">Line with View Finder</a>
              </li>
              <li>
                <a href="pie.html">Pie Chart</a>
              </li>
              <li>
                <a href="bullet.html">Bullet Chart</a>
              </li>
              <li>
                <a href="indentedtree.html">HTML Indented Tree</a>
              </li>
            </ul>
          </div>
