<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="//fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">

    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 43px;
      }
      .statement_para {
          font-size: 14pt;
          line-height: 120%;
          width: 60%;
          text-align: justify;
          text-justify: distribute;
          margin: 10px auto;
          margin-bottom: 30px;
      }

      .row {
        margin 1%;
      }

      article {
        padding: 0 1%;
      }


      body > .container {
        width: 941px;
      }

      @media(min-width: 1200px){
        body > .container {
          width: 1171px;
        }
      }

      @media (max-width: 979px) and (min-width: 768px) {
        body > .container {
          width: 725px;
        }
      }

    </style>
    <link href="/assets/css/common.css" rel="stylesheet">
    <link href="/assets/css/nv.d3.css" rel="stylesheet">

    <script src="/assets/js/lib/bootstrap.min.js"></script>
<script src="/assets/lib/d3.v3.js"></script>
<script src="/assets/js/nv.d3.js"></script>

<script src="/assets/js/data/stream_layers.js"></script>
<script src="/assets/js/page/index.js"></script>

