/*https://gist.githubusercontent.com/programus/1993032/raw/0af9258c883746cbf2c5b6000cb1f9740ba133da/data-table.css*/

table {
  border-style:solid;
  border-width:1px;
  border-color:#e7e3e7;
}

table th, table td {
  border-style:dashed;
  border-width:1px;
  border-color:#e7e3e7;
  padding-left: 3px;
  padding-right: 3px;
}

table th {
  border-style:solid;
  font-weight:bold;
  background: #F7F3F7;
}

table th[align="left"], table td[align="left"] {
  text-align:left;
}

table th[align="right"], table td[align="right"] {
  text-align:right;
}

table th[align="center"], table td[align="center"] {
  text-align:center;
}
