.nvd3 .nv-groups path.nv-line {
    fill: none;
}

.nvd3 .nv-groups path.nv-area {
    stroke: none;
}

.nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
    fill-opacity: 0;
    stroke-opacity: 0;
}

.nvd3.nv-scatter.nv-single-point .nv-groups .nv-point {
    fill-opacity: .5 !important;
    stroke-opacity: .5 !important;
}


.with-transitions .nvd3 .nv-groups .nv-point {
    transition: stroke-width 250ms linear, stroke-opacity 250ms linear;
    -moz-transition: stroke-width 250ms linear, stroke-opacity 250ms linear;
    -webkit-transition: stroke-width 250ms linear, stroke-opacity 250ms linear;

}

.nvd3.nv-scatter .nv-groups .nv-point.hover,
.nvd3 .nv-groups .nv-point.hover {
    stroke-width: 7px;
    fill-opacity: .95 !important;
    stroke-opacity: .95 !important;
}


.nvd3 .nv-point-paths path {
    stroke: #aaa;
    stroke-opacity: 0;
    fill: #eee;
    fill-opacity: 0;
}

.nvd3 .nv-indexLine {
    cursor: ew-resize;
}

.nvd3 .nv-line-pattern-None {
stroke-opacity:0 !important;
}

.nvd3 .nv-line-pattern-Solid {
stroke-opacity: 1;
}

.nvd3 .nv-line-pattern-Dense {
stroke-dasharray: 1 5;
}

.nvd3 .nv-line-pattern-Medium {
stroke-dasharray: 2 10;
}

.nvd3 .nv-line-pattern-Sparse {
stroke-dasharray: 3 20
}

.nvd3 .nv-line-pattern-DashShort {
stroke-dasharray: 5 5;
}

.nvd3 .nv-line-pattern-DashMedium {
stroke-dasharray: 10 10;
}

.nvd3 .nv-line-pattern-DashLong {
stroke-dasharray: 20 20;
}

.nvd3 .nv-line-pattern-DashDot {
stroke-dasharray: 10 2 2 2;
}

.nvd3 .nv-line-pattern-DashDotDot {
stroke-dasharray: 20 10 5 5 5 10;
}

.nvd3 .nv-line-pattern-DashDashDot {
stroke-dasharray:15 5 15 10 5 10
}
