.nvd3 .background path {
    fill: none;
    stroke: #EEE;
    stroke-opacity: .4;
    shape-rendering: crispEdges;
}

.nvd3 .foreground path {
    fill: none;
    stroke-opacity: .7;
}

.nvd3 .brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.nvd3 .axis line, .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.nvd3 .axis text {
    text-shadow: 0 1px 0 #fff;
}
