    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/index.html">NVD3.js</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/index.html"><i class="icon-white icon-home"></i> Home</a></li>
              <li><a href="/examples/index.html"><i class="icon-white icon-picture"></i> Examples</a></li>
              <li><a href="/livecode/index.html"><i class="icon-white icon-play-circle"></i> Live Code</a></li>
              <li><a href="http://github.com/novus/nvd3"><i class="icon-white icon-list-alt"></i> Source</a></li>
              <li><a href="/blog/archives/"><i class="icon-white icon-book"></i> Blog</a></li>
            </ul>
            <ul class="nav pull-right">
              <li><p class="navbar-text"><i class="icon-white icon-download"></i> Downloads:</p></li>
              <li>
                <div class="btn-group">
                  <a class="btn btn-small btn-primary" href="https://github.com/novus/nvd3/zipball/master">ZIP</a>
                  <a class="btn btn-small btn-primary" href="https://github.com/novus/nvd3/tarball/master">TAR.GZ</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
