
/********************
 * HTML CSS 
 */


.chartWrap {
  margin: 0;
  padding: 0;
  overflow: hidden;
}


/********************
 * TOOLTIP CSS 
 */

.nvtooltip {
  position: absolute;
  background-color: rgba(255,255,255,1);
  padding: 10px;
  border: 1px solid #ddd;

  font-family: Arial;
  font-size: 13px;

  transition: opacity 500ms linear;
  -moz-transition: opacity 500ms linear;
  -webkit-transition: opacity 500ms linear;

  transition-delay: 500ms
  -moz-transition-delay: 500ms;
  -webkit-transition-delay: 500ms;

  -moz-box-shadow: 4px 4px 12px rgba(0,0,0,.5);
  -webkit-box-shadow: 4px 4px 12px rgba(0,0,0,.5);
  box-shadow: 4px 4px 12px rgba(0,0,0,.5);

  -moz-border-radius: 15px;
  border-radius: 15px;
}

.nvtooltip h3 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.nvtooltip p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.nvtooltip span {
  display: inline-block;
  margin: 2px 0;
}


/********************
 * SVG CSS 
 */


svg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


text {
  font: 12px sans-serif;
}



/**********
*  Brush
*/

.brush .extent {
  stroke: #666;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}



/**********
*  Legend
*/

.legend .series {
  cursor: pointer;
}

.legend .disabled circle {
  fill-opacity: 0;
}



/**********
*  Axes
*/

.axis path {
  fill: none;
  stroke: #000;
  stroke-opacity: .75;
  shape-rendering: crispEdges;
}

.axis path.domain {
  stroke-opacity: .75;
}

.axis line {
  fill: none;
  stroke: #000;
  stroke-opacity: .25;
  shape-rendering: crispEdges;
}

.axis line.zero {
  stroke-opacity: .75;
}



/**********
*  Bars
*/

.bars rect {
  fill: steelblue;
  cursor: pointer;
}

.bars .hover rect {
  fill: lightblue;
}

.bars text {
  fill: rgba(0,0,0,0);
}

.bars .hover text {
  fill: rgba(0,0,0,1);
}



/**********
* Lines 
*/

.lines path {
  fill: none;
  stroke-width: 1.5px;
  stroke-linecap: round;
  shape-rendering: geometricPrecision;

  transition: stroke-width 250ms linear;
  -moz-transition: stroke-width 250ms linear;
  -webkit-transition: stroke-width 250ms linear;

  transition-delay: 250ms
  -moz-transition-delay: 250ms;
  -webkit-transition-delay: 250ms;
}

.line.hover path {
  stroke-width: 6px;
}

.lines .point {
  transition: all 250ms linear;
  -moz-transition: all 250ms linear;
  -webkit-transition: all 250ms linear;
}

.lines .point.hover {
  stroke-width: 20px;
  stroke-opacity: .5;
}


.point-paths path {
  stroke: #aaa;
  stroke-opacity: 0;
  fill: #eee;
  fill-opacity: 0;
}



.indexLine {
  cursor: ew-resize;
}



/**********
*  Scatter 
*/

.groups .point {
  transition: all 250ms linear;
  -moz-transition: all 250ms linear;
  -webkit-transition: all 250ms linear;
}

.groups .point.hover {
  stroke-width: 20px;
  stroke-opacity: .5;
}

.d3scatter .point.hover {
  fill-opacity: 1;
}

/*
.group.hover .point {
  fill-opacity: 1;
}
*/


/**********
*  Stacked Area
*/

.d3stackedarea path.area {
  fill-opacity: .75;
  stroke-opacity: .75;
}

.d3stackedarea .lines path {
  stroke-opacity: 0;
}


.d3stackedarea .lines .point {
  stroke-opacity: 0;
  fill-opacity: 0;
  transition: all 250ms linear;
  -moz-transition: all 250ms linear;
  -webkit-transition: all 250ms linear;
}

.d3stackedarea .lines .point.hover {
  stroke-width: 20px;
  stroke-opacity: .75;
  fill-opacity: 1;
}
